<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS Link -->
    <link rel="stylesheet" href="../static/styles.css" />

    <!-------------------------------- FONT GOOGLE ------------------------------------------------------------->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa&family=Ubuntu:wght@700&display=swap&family=Poppins"
      rel="stylesheet"
    />

    <!--------------------------------------------------------------------------------------------------->

    <!--------------------------------------------------------------------------------------------------->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Reporter</title>
  </head>
  <!--------------------------------------------------------------------------------------------------->
  <body>
    <div class="error-message">
      <div class="error-text">
        <h1>City not Found</h1>
        <h2>Please type the Correct Spelling of the City.</h2>
        <a href="{{url_for('Home')}}" class="myButton">Go Back</a>
      </div>
    </div>
  </body>
</html>
